{% extends 'base.html.twig' %}
{% block title %}Клієнти{% endblock %}
{% block heading %}Клієнти{% endblock %}
{% block body %}
<table>
    <tr><th>ПІБ</th><th>Кімната</th><th>Телефон</th><th>Пристрої</th><th>Сьогодні</th><th>Місяць</th><th>Остання активність</th></tr>
    {% for row in clients %}
        <tr>
            <td><a href="{{ path('client_show',{id:row.client.id}) }}">{{ row.client.displayName }}</a></td>
            <td>{{ row.client.roomNumber }}</td>
            <td>{{ row.client.phone }}</td>
            <td>{{ row.deviceCount }}</td>
            <td>{{ (row.today / 1048576)|number_format(1) }} МБ</td>
            <td>{{ (row.month / 1048576)|number_format(1) }} МБ</td>
            <td>{{ row.lastSeen ? row.lastSeen|date('Y-m-d H:i') : '-' }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
